header {
    width: 60%;
    border-radius: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background-color: #3C4048;
    color: #EAEAEA;
    font-size: 20em;
    font-family: Montserrat;
}

body:not(#universe) {
    font-family: Montserrat;

    background-color: #B2B2B2;

}

.game-controller {
    justify-content: center;
    display: flex;

}

.cell {
    width: 8px;
    height: 8px;
    border: 1px;
    border: 1px solid rgb(0, 0, 0);

}

.filled {
    background-color: #352f44;
}

.empty {
    background-color: #dbd8e3;
}

table {
    align-items: center;
    justify-content: center;
    border-collapse: collapse;
}

#universe {
    padding: 30px;
    border-radius: 5px;
    justify-content: center;

}

.btn {

    border-color: black;
    font-style: oblique;
    color: rgb(180, 180, 180);

}

#play {
    background-color: #3C4048;
}

#pause {
    background-color: #3C4048;
}

#reset {
    background-color: #3C4048;
}

.button-container button {
    margin: 5px;
}


div#game-controller {
    display: flex;
    justify-content: center;

}
div {
    align-items: center;

}
#explanation {
    background-color: #EAEAEA;

}
