header {
    width: 60%;
    border-radius: 20px;
    margin:  auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background-color: #2a2438;
    color: #dbd8e3;
    font-size: 20em;
}

body:not(#universe) {
    background-color: #dbd8e3;
}

.game-controller {
    justify-content: center;
    display: flex;

}

.cell {
    width: 8px;
    height: 8px;
    border: 1px;
    border: 1px solid rgb(0, 0, 0);

}

.filled {
    background-color: #352f44;
}

.empty {
    background-color: #dbd8e3;
}

table {
    align-items: center;
    justify-content: center;
    border-collapse: collapse;
}

#universe {
    padding: 30px;
    border-radius: 5px;
}

.btn {

    border-color: black;
    font-style: oblique;
    color: rgb(180, 180, 180);

}

#play {
    background-color: #2a2438;
}

#pause {
    background-color: #2a2438;
}

#reset {
    background-color: #2a2438;
}

.button-container button {
    margin: 5px;
}

div {
    align-items: center;
    display: flex;
    justify-content: center;
    border-collapse: collapse;
}