header {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 10vh;
    background-color: #333;
    color: #fff;
    font-size: 2em;
}

.game-controller {
    justify-content: center;
    display: flex;

}

.cell {
    width: 8px;
    height: 8px;
    border: 1px;
    border: 1px solid rgb(0, 0, 0);

}

.filled {
    background-color: black;
}

.empty {
    background-color: white;
}

table {
    align-items: center;
    justify-content: center;
    border-collapse: collapse;
}

.universe {
    /* background-color: #f0f0f0; */
    padding: 20px;
    border-radius: 5px;
}

div {
    align-items: center;
    display: flex;
    justify-content: center;
    border-collapse: collapse;
}